html{
  height: 1980px;
  font-size: 62.5%;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}

header{
  background-color: rgba(255,140,0,0.5);
  height: 120px;
}

#logo{
  width: 230px;
  height: 50px;
  margin: 30px 0 0 50px;
}

.header_sign{
  float: right;
  display:flex;
  flex-direction: row;
  margin: 30px 50px 0 0;
}

.header_sign-up{
  display: block;
  background-color: firebrick;
  padding: 10px 30px;
  margin: 10px 70px 10px 10px;
  color: white;
}

.header_sign-up:hover{
  background-color: crimson;
}

.header_login{
  display: block;
  background-color: darkgreen;
  padding: 10px 30px;
  margin: 10px 10px 10px 10px;
  color: white;
}

.header_login:hover{
  background-color: forestgreen;
}

.top-menu{
  margin: 0;
  display:flex;
  flex-direction: row;
  list-style-type: none;
  background-color: darkorange;
}

.top-menu li{
  margin: 0 auto;
  padding: 20px 100px;
}

.top-menu li a{
  color: white;
}

.slidshow{
  background-color: darkgray;
  text-align: center;
  padding: 50px;
}

.announces h2{
  margin-top: 100px;
  text-align: center;
  border-bottom: 2px solid darkgray;
}

.announces-list{
  border: 1px solid darkgray;
}

.sort p{
  padding:  10px 5px;
}

#announce{
  font-size: 3.0rem;
}